<div class="slider-wrapper">
		<mat-icon class="arrow left" (click)="prev()">chevron_left</mat-icon>
		<mat-icon class="arrow right" (click)="next()">chevron_right</mat-icon>
		<div class="my-slider2">
			<div class="slider-item" *ngFor="let url of abc; let i = index">
				<img class="slider-img" src="{{url}}">
				<div class="slide-content">
					<div>
						Text text text
					</div>
				</div>
			</div>
		</div>
	</div>