.slider-wrapper {
	position: relative;

	.my-slider2 {
		.slider-item {
			margin: 0 40px;
			position: relative;

			.slide-content {
				-webkit-transform: translate(-50%,-50%);
				transform: translate(-50%,-50%);
				position: absolute;
				top: 50%;
				left: 50%;
				min-height: 80%;
				min-width: 80%;
				background-color: white;
				z-index: 1;
			}

			.slider-img {
				max-width: 100%;
				height: auto;
			}
		}
	}

	.arrow {
		position: absolute;
		font-size: 3rem;
		color: gray;
		z-index: 1;

		&.left {
			top: 40%;
			left: 20%;
		}

		&.right {
			top: 40%;
			left: 65%;
		}
	}
}
	