<h1>Angular Scroll Center Example</h1>

<div #containerItems class="container">
  <div *ngFor="let item of items" class="item">{{item}}</div>
</div>

<h1>Slider example 1</h1>
<app-slider1></app-slider1>

<h1>Slider example 2</h1>
<app-slider2></app-slider2>
