.container {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    color: white;
    background-color: green;
    min-width: 100px;
    height: 100px;
    margin: 10px;
  }
}
