.my-slider {
	.slider-item {
		margin: 0 40px;
		&.next {
			transform: translate(-60px, 0);
		}

		&.prev {
			transform: translate(60px, 0);
		}

		.slider-img {
			max-width: 100%;
			height: auto;
		}
	}
}
	