<div class="my-slider">
		<div class="slider-item" [ngClass]="{'active': i === siema?.currentSlide,
											'prev': i === siema?.currentSlide - 1,
											'next': i === siema?.currentSlide + 1}"
											*ngFor="let url of abc; let i = index"><img class="slider-img" src="{{url}}"></div>
	</div>